/*
This is the extracted copied part responsible for showing & hiding the submenu.
*/

.nav__submenu {
  display: none;
}

.nav__menu-item:hover {
  .nav__submenu {
    display: block;
  }
}

/*
Layout styles.

I like to work on stuff that's good looking so I remixed a cool simple menu by Mike Rojas (thanks!): https://codepen.io/mikerojas87/pen/rojKb
*/

$color-blue: white;
$color-blue-dark: white;
$submenu-width: 250px;


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.menu-container {
  text-align: center;
}

nav {
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav {

	font-family: 'Comfortaa', cursive;
	width: $submenu-width;
	margin-bottom: 5px;
  text-align: center;
	padding-top: 15px;
	background: #D62828;

	color: white;

  a {
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
  }
}

.nav__menu {
  //font-weight: 700;
}

.nav__menu-item {
  &:hover {
    background-color: #D62828;

    .nav__submenu {
      display: block;
    }
  }
}

.nav__submenu {
  font-weight: 300;
  text-transform: none;
  position: absolute;
  width: $submenu-width;
  background-color: #D62828;
}

.nav__submenu-item {
  &:hover {
    background: rgba(#000, 0.1);
  }
}
