@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.nav__submenu {
  display: none;
}

.nav__menu-item:hover {
  .nav__submenu {
    display: block;
  }
}


$submenu-width: 250px;

.drop-icon {
		// calculated with https://codepen.io/sosuke/pen/Pjoqqp
		filter: invert(95%) sepia(12%) saturate(151%) hue-rotate(11deg) brightness(98%) contrast(91%);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.menu-container {
  text-align: center;
}

nav {
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav {
	font-family: 'Patrick Hand', cursive;

	width: $submenu-width;
	margin-bottom: 5px;
  text-align: center;
	padding-top: 15px;
	background: #8E8D8A;

	color: #EAE7DC;
	font-size: 25px;

  a {
		font-size: 25px;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
  }
}

.nav__menu {
  //font-weight: 700;
}

.nav__menu-item {
  &:hover {
    background-color: #8E8D8A;

    .nav__submenu {
      display: block;
    }
  }
}

.nav__submenu {
	font-size: 25px;
  text-transform: none;
  position: absolute;
  width: $submenu-width;
  background-color: #8E8D8A;
}

.nav__submenu-item {
  &:hover {
    background: rgba(#000, 0.1);
  }
}
