@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.interpreter {
		width: 80%;
		max-width: 800px;
}

.code-input {
		font-family: 'Patrick Hand', cursive;
		width: 90%;
		overflow: auto;
		font-size: 25px;
		color: black;
		border: 2px solid #8E8D8A;
		padding: 0.5em;
		margin-bottom: 2em;
		overflow:hidden;
		resize: none;
}

.code-input:focus {
		outline: 0px;
}

.code-button {
		font-family: 'Patrick Hand', cursive;
		border: 0px;
		font-size: 15px;
		height: 60px;
		width: 60px;
		border-radius: 50%;
		padding: 0.5em;
		color: white;
		background-color: #8E8D8A;
		text-align: center;
		float: right;
    cursor: pointer;
}
.search-icon {
		// calculated with https://codepen.io/sosuke/pen/Pjoqqp
		filter: invert(95%) sepia(12%) saturate(151%) hue-rotate(11deg) brightness(98%) contrast(91%);
}

.code-input-container {
		align-items: center;
		margin-bottom: 1em;
}

.code-output-cell {
		background-color: white;
		margin-bottom: 1em;
		width: inherit;
}

.code-output-header {
		padding: .5em;
		color: white;
		background-color: #8E8D8A;
		font-size: 25px;
}

.code-output-content {
		padding: 1em;
		color: black;
		overflow: auto;
		width: inherit;
}

.code-input-menu {
		display: flex;
		margin: 20px;
		padding: 0;
}

.code-input-tabs {
		margin: 0;
		padding: 0;
		display: flex;
}

.code-input-button {
		font-family: 'Patrick Hand', cursive;
		border: 0px;
		font-size: 25px;
		padding: 0.5em;
		color: #EAE7DC;
		background-color: #8E8D8A;

		text-align: center;
		margin-right: 5px;
		margin-bottom: 5px;
}

.code-input-button.selected {
		text-decoration:underline;
}

.magic-interpreter {
		font-family: 'Patrick Hand', cursive;
}

.docs {
		font-family: 'Patrick Hand', cursive;
		color: #8E8D8A;
		padding: 10px;
		margin-bottom: 10px;
		font-size: 25px;
}

.docs-title {
		display: flex;
}

.docs-query-word {
		margin-right: 0.5em;
		font-weight: bold;
}

.docs-query {
}

.docs-example-content {
}

.docs-title {
		font-size: 35px;
		margin-top: 1em;
}

.docs-description-title {
		font-size: 25px;
		margin-top: 1em;
		margin-bottom: 0.5em;
		font-weight: bold;
}

.docs-example-title {
		font-size: 25px;
		margin-top: 1em;
		margin-bottom: 1.5em;
		font-weight: bold;
}
