@font-face {
  font-family: 'Nunito';
  src: url('/public/fonts/Nunito-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

.menu {
		display: flex;
}

.magic-logo {
	align-items: center;
	/* background-color:black; */
	/* color: white; */
	padding: 1em;
	display: flex;
	justify-content: center;
	font-size: 1.5em;
}

.magic-logo-text {
	font-family: 'Nunito';
	font-weight: 700;

	/*
	background-image: linear-gradient(to right, #4CB8C4, #3CD3AD);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	*/
}

.magic-logo-text1 {
  font-family: 'Times New Roman', serif;
	color: black;
}

.magic-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2em;
}

.header-menu {
	font-family: 'Nunito';
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-item {
		margin-left: 3em;
}
