@font-face {
  font-family: 'Nunito';
  src: url('/public/fonts/Nunito-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

.menu {
		display: flex;
}

.magic-logo {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	background-color: #D62828;
	color: white;
	padding: 0.5em;
	font-size: 1.5em;
	margin: 1em;
}

.magic-logo-text0 {
	font-family: 'Comfortaa', cursive;
	background-clip: text;
	color: white;

	/* background-image: radial-gradient(circle at 30% 107%, #7bdaff 0%, #11edfd 5%, #5f86f3 45%, #6c69f1 60%, #ef15f7 90%); */

}

.magic-logo-text1 {
font-family: 'Comfortaa', cursive;
}

.magic-logo-beta {
	/* width: 1em; */
	/* height: 0.5em; */
	font-size: 0.5em;
	font-family: 'Nunito';
	color: white;
	margin: 0.5em;
	padding: 0.2em;
	background-color: red;
}

.magic-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
}

.header-menu {
	font-family: 'Nunito';
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-item {
		margin-left: 3em;
}
