.magic-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
	height: 100%;
}

body {
		height: 100%;
		background-color: #EAE7DC;
}

.graphic {
		color: black;
}
