.social-media-menu {
		position: fixed;
		bottom: 2em;
		left: 0em;
		color: black;
		display: flex;
		flex-direction: column;
		padding: 1em;
}

.social-icon {
		// calculated with https://codepen.io/sosuke/pen/Pjoqqp
		filter: invert(56%) sepia(9%) saturate(91%) hue-rotate(7deg) brightness(98%) contrast(91%);

		height: 40px;
		width: 40px;

}
